body {
    background-image: none !important;
    background-color: #3399ff;
    color: white;
    margin-bottom: 4rem;
}



.business-container img {
    height: 1rem;
    height: auto;
    display: inline-block;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: space-around;
    margin-top: 2.125rem;
}
.business-container {
    /*border: 1px solid yellow;*/
    /* position:relative;
  top: 4rem;*/
    /* margin-top: 0 !important;*/
    display: flex;
    flex-wrap: wrap;
    align-items: center!important;
    align-content: center!important;
    justify-items: center!important;
    justify-content: space-around!important;
}
.main-content {
    top: 0;
    margin-top: 1rem;
    max-width: 55%;
    text-align: center;
}
#point {
    /* margin-top: 6rem;*/
    text-align: center;
}

/*
.tag_1 {
    border-left: 2px red !important;

z-index: 1;
}
*/

.buscando-title {
    color: #00000099;

}

/*CONTENIDO*/

.main-content-2 {
    /*border: 1px solid rgb(0, 255, 42);*/
    /* display: block;
   align-items: center;
   align-content: center;
   justify-content: center;
   justify-items: center;*/
    margin: 0 auto;
    margin-top: 8rem;
    max-width: 50%;
    /*MAIN CONTENT VS FRAME RATIO*/
    min-width: min-content;
    /*text-align: justify;*/
    position: relative;
    /*top: 6rem !important; /* To offset for fixed header. */
}
section.index-section {
    /*border: 1px solid red;*/
    background-color: transparent !important;
    padding-left: 1rem;
    padding-top: .6rem;
    padding-bottom: .6rem;

    margin-bottom: 2.125rem;
    /*border-radius: 1.25rem;*/
    /*box-shadow: 0 0 1.25rem 0 rgba(0,0,0,.50);*/
    display: flex;
    align-items: center;
    align-content: center;
}
.aviso {
    padding-right: .625rem;
    font-size: 1.5rem;
}
#buscando-frame {
    /* border: 1px solid greenyellow;*/
    /* color: black;*/
    width: 120%;
    /*IMAGE SEPARATION---------------------------------------------*/
    padding: 0 !important;
    margin: 0 auto !important;
}
.frame {
    /*border: 1px solid red;*/
    margin: 0 auto;
    background-color: #3399FF;
    max-width: 100%;
    min-width: min-content !important;
    min-height: min-content !important;
}
.index-section {
    /*border: 1px solid yellow;*/
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
}

.index-image {
    width: 100%;
    float: right;
    clear: left;
    border: -.3125rem solid transparent;
    border-radius: 50%;
    box-shadow: 0 0 .625rem 0 rgba(0, 0, 0, .7);
}
.index-image.one {
    rotate: -10deg;
}
.AA {
    /* border: 1px solid black;*/
    padding: 1.5rem 0 0 0;
    margin: 0 !important;
    width: 25%;
    justify-items: flex-end;
    /*CIRCULAR PHOTO SIZE*/
}
.BB {
    width: 70%;
    /*SECTION TEXT BOX SIZE*/
}
.features li {
    font-weight: bold;
}

/*MEDIA QUERY*/

/*1080p 1/2 screen image size control*/
@media only screen and (max-width: 895px),
(max-width: 1000px) {

    .index-image {
        width: 80%;
        max-width: max-content;
        margin-top: 1rem;
    }
    section.index-section {
        width: 30rem !important;
    }

    section.index-section p {
        font-size: 1rem !important;
    }
    section.index-section h1 {
        font-size: 1rem !important;
    }

    #map {
        margin-bottom: 2rem;
        border-radius: 0rem;
    }

    .AA {
        width: 35%;
        /*CIRCULAR PHOTO SIZE*/
    }
    .BB {
        width: 65%;
        /*SECTION TEXT BOX SIZE*/
    }
}


@media only screen and (max-width: 895px) {
    section.index-section {
        /*border: 1px solid rgb(0, 4, 255);*/
        margin-top: 2rem !important;
        margin-left: 0;
        margin-right: 0;
    }
    .AA {
        width: 35%;
        /*CIRCULAR PHOTO SIZE*/
    }
    .BB {
        width: 65%;
        /*SECTION TEXT BOX SIZE*/
    }
    .index-image {
        min-width: 1rem !important;
        width: 100%;
        max-width: min-content;
        margin-top: 1rem;
    }
    section.index-section p {
        font-size: 1rem !important;
    }
    section.index-section h1 {
        font-size: 1rem !important;
    }
    .main-content-2 {
        margin-top: 4.5rem !important;
    }
}
@media only screen and (max-width: 600px) {

    .title-gap {
        padding-top: .7rem !important;
        padding-bottom: .7rem !important;
    }

    .AA {
        width: 35%;
        /*CIRCULAR PHOTO SIZE*/
    }
    .BB {
        width: 65%;
        max-width: 20rem;
        /*SECTION TEXT BOX SIZE*/
    }

    .buscando-title {
      /*border: 1px solid greenyellow; */ 
      font-size: 1.3rem !important;
      min-width: max-content;
      position: relative !important;
      left: 0 !important;
      right: 0 !important;
      text-align: left !important;
      margin: 0 auto !important;
      padding: 0 !important;
    }

    .index-image {
       
        width: 100%;
        margin-top: 1rem;
    }

    .main-content-2 {   
        border-bottom: 1px solid transparent; /*SET TO TRANSPARENT FOR THE GRADIENT BELOW*/
        max-width: 100%;
        margin-top: 3rem;
        margin-left: .5rem;
        margin-right: .5rem;
    }

/*GRADIENT EFFECT FOR FADED BOTTOM BORDER*/
    .main-content-2::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: calc(50% - 6.25rem);
        right: calc(50% - 6.25rem);
        height: 2px;
        background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
        background: linear-gradient(to left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    }




    section.index-section {
        /*border: 1px solid rgb(0, 4, 255);*/
        background-color: transparent !important;
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 1rem !important;
        margin-top: 3rem !important;
        margin-bottom: 0;
        width: 100% !important;

    }

    div#buscando-frame.frame {
    /*border: 5px solid magenta;*/
    display: flex;
    justify-content: space-around;
}


}


/*.title-gap {
    padding-bottom: 1.5rem !important;
}*/
@media only screen and (max-width: 460px) {
    /*  contact*/
    #map {
        margin-bottom: 2rem;
        border-radius: 0rem;
    }
    #point {
        margin-top: -1rem !important;
        text-align: center;
    }
    .main-content {
        position: relative;
        top: 2rem;
        /* To offset for fixed header. */
    }
    .tag {
        margin-bottom: 1rem;
    }
}
