
/*BUTTON*/

#hamburger-btn {
  position: relative;
  align-self: center;
  z-index: 10000;
  display: inline-block;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;



}

.hamburger-line {
  display: block;
  width: 1.5rem;
  height: .1875rem;
  margin: .375rem auto;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}


#hamburger-btn.active .hamburger-line:nth-child(2) {
  opacity: 0;
}

#hamburger-btn.active .hamburger-line:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

#hamburger-btn.active .hamburger-line:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}


/*END BUTTON  END BUTTON  END BUTTON  END BUTTON  END BUTTON*/


/* EXPANSION MENU*/

/*ul{
  padding-top: 2rem; 
} /* To offset for fixed header.  see also #menu below*/
#menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}




#menu li {
  color: white;
}

#menu a  {
  font-size: 2rem;
  text-align: center;
  line-height: 1.5; /*SPACING BETWEEN li ELEMENTS OF THE DROPDOWN MENU*/
  color: white;
  text-transform: uppercase;

}

      #menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vmax;  /*DROPDOWN MENU HEIGHT SET TO MAXIMUM !!!!!!!!!!!!!!*/
  background-color: #3399ff;
  z-index: 9999;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1 !important;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  
}

#menu.open {
  transform: translateY(0);
  z-index: 1 !important;
}


#menu li {
  margin-bottom: 1.5rem !important;  /*SPACING BETWEEN li ELEMENTS OF THE DROPDOWN MENU*/
}


#menu .current a  {
  font-size: 2rem;
  text-align: center;
  line-height: 1.5; /*SPACING LINES CURRENT PAGE*/
  color:black;
  text-transform: uppercase;

}

li.current{

  color: black;
  border-top: .125rem solid black;
  border-bottom: .125rem solid black;
  font-weight: bolder;
  
  }

  a:active.vertical {
    color: black !important;
    font-weight: bolder;
    background-color: transparent !important;
  }



 header ul.vertical-header {
    align-items: center !important;
    align-content: center !important;
    width: 100%;
  height: 100VW;
  }

/*MEDIA QUERY*/

/*THIS CSS HIDES THE MENU ON LARGE VIEWPORT*/
@media only screen and (min-width: 990px) {
  
  #hamburger-btn {
    display: none; /* HIDES HAMBURGER*/
  } 

  #menu{
    display: none; /*HIDES DROPDOWN MENU*/
  } 
}



/*PHONE SHAKE-------------*/

/*WHATSAPP & PHONE MOBILE CONSTANT SHAKE*/
.constant-tilt-shake {
  animation: tilt-shaking 2s infinite;
}


@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}






