body {
    margin: 0;
    background-image: none;
    background-color: #3399FF;
}

/*FILTER POBLACION DROPDOWN MENU---------------*/

.filter-pueblos {
    margin: 1rem;
    display: flex;
    justify-content: center;
}
#location-select {
    min-height: 3rem;
    border-radius: 2rem;
}
select:focus {
    outline: none;
}
select option:checked:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

/*firefox issues*/

select {
    background: white;
    text-align-last: center;
}
select::-moz-focus-inner {
    border: 0;
}

/*END DROPDOWN MENU-----------------*/

p {
    padding: 0;
    margin: 0;
}
.pueblo {
    font-weight: normal;
    font-size: 1rem;
}
.center-h1 {
    /*border: 1px solid  green;*/
    text-align: center;
    margin-top: 2rem;
}
.container {
    /* border: 4px solid  green; */
    margin: auto;
    max-width: 80%;
    display: flex;
    align-items: center;
    align-content: center;
    align-items: center;
    min-height: 12.5rem;
    justify-content: center;
    /*This will result in the three boxes being evenly spaced along the main axis of the container, with half of the space before the first item and after the last item.*/
    gap: 1rem;
    line-height: .1;
}
.box {
    /*border: 4px solid  orange;*/
    background-color: white;
    padding: 0 1.1rem;
    width: 15.625rem;
    height: 21.875rem;
    padding-bottom: 1rem;
}
#wrap {
    flex-wrap: wrap;
}
.main-content img {
    /* border: .0625rem solid red;*/
    padding: 0;
    margin: 0;
    width: 15.625rem;
    aspect-ratio: 4/3;
    object-fit: cover;
}
.foto-inmueble {
    display: block;
    position: relative;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.texto-encima {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    color: red;
    font-size:38px;
    font-weight: bold;
    z-index: 0;
  }

  .texto-encima-R {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    color: #3399FF;;
    font-size:38px;
    font-weight: bold;
    z-index: 0;
  }

.specs-row {
    /*border: .0625rem solid greenyellow;*/
    display: flex;
    justify-content: space-between;
    border-top: .0625rem solid grey;
    border-bottom: .0625rem solid grey;
    line-height: 1;
    width: 15.625rem;
    height: auto;
    align-items: baseline;
    align-content: baseline;
    justify-items: baseline;
    padding: .2rem 0 0 0;
}
.ubicacion {
    /*border: .0625rem solid red;*/
    color: grey;
}
.specs-inmueble {
    /*border: 2px solid brown;*/
    padding: 0;
    margin: 0 auto;
    height: 3.1rem;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
.specs-inmueble img {
    /*border: .0625rem solid blueviolet;*/
    width: 1.875rem;
    object-fit: fill;
    aspect-ratio: 1/1;
}
.moneda {
    /* border: .0625rem solid red;*/
    margin-top: 1rem;
    font-weight: bolder;
}
.currSign::after {
    content: ' €';
}
.meters-label::after {
    content: "m²";
    margin-left: 0.2em;
    font-size: 0.8em;
}
.more {
    display: flex;
    justify-content: right;
    text-align: right;
    color: #FF8000;
    font-size: 1rem;
    text-align: right;
    font-weight: bolder;
}

/*MEDIA QUERY MEDIA QUERY MEDIA QUERY--------------------------------*/


/*SELECTOR LOCALIDAD 2K*/

@media screen and (min-width: 2560px) {
    #location-select {
        width: 15rem;
        font-size: 1rem;
    }
    option {
        font-size: .2rem;
    }
}

/*SELECTOR LOCALIDAD 4K*/

@media screen and (min-width: 3840px) {
    #location-select {
        width: 15rem;
        font-size: 1rem;
    }
    option {
        font-size: .2rem;
    }
}

/*SELECTOR LOCALIDAD 8K*/

@media screen and (min-width: 7680px) {
    #location-select {
        width: 15rem;
        font-size: 1rem;
    }
    option {
        font-size: .2rem;
    }
}
